<?xml version="1.0"?>
<config>
    <modules>
        <Copimaj_PlataAvans>
            <version>0.1.4</version>
        </Copimaj_PlataAvans>
    </modules>
    <frontend>
        <routers>
            <avans>
                <use>standard</use>
                <args>
                    <module>Copimaj_PlataAvans</module>
                    <frontName>avans</frontName>
                </args>
            </avans>
        </routers>
        <layout>
            <updates>
                <avans>
                    <file>copimaj-avans.xml</file>
                </avans>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <avans>
                    <file>copimaj-avans.xml</file>
                </avans>
            </updates>
        </layout>
    </adminhtml>
    <global>
    	<sales>
            <quote>
                <totals>
                    <avans>
                        <class>avans/sales_quote_address_total_avans</class>
                        <after>discount</after>
                    </avans>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <avans>
                        <class>avans/sales_order_total_invoice_avans</class>
                    </avans>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <avans>
                        <class>avans/sales_order_total_creditmemo_avans</class>
                    </avans>
                </totals>
            </order_creditmemo>
        </sales>

        <models>
            <avans>
                <class>Copimaj_PlataAvans_Model</class>
                <resourceModel>avans_mysql4</resourceModel>
            </avans>
            <avans_mysql4>
                <class>Copimaj_PlataAvans_Model_Mysql4</class>
                <entities>
                    <avans>
                        <table>copimaj_plataavans</table>
                    </avans>
                </entities>
            </avans_mysql4>
        </models>
        <helpers>
            <avans>
                <class>Copimaj_PlataAvans_Helper</class>
            </avans>
        </helpers>
        <resources>
            <avans_setup>
                <setup>
                    <module>Copimaj_PlataAvans</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </avans_setup>
            <avans_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </avans_write>
            <avans_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </avans_read>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <fee_amount><to_order>*</to_order></fee_amount>
                <base_fee_amount><to_order>*</to_order></base_fee_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <blocks>
            <avans>
                <class>Copimaj_PlataAvans_Block</class>
            </avans>
        </blocks>
    </global>
    <default>
        <sales>
            <totals_sort>
                <avans>25</avans>
            </totals_sort>
        </sales>
    </default>
</config>